@charset "UTF-8";
/*header*/
#header{
	overflow: hidden;
	width: 100%;
	height: 106px;
}

#head{
	position: relative;
    max-width: 1100px;
    height: 104px;
    margin: 0 auto;
    padding: 0;
}

/*------------top logo-------------*/
#head > a {
    overflow: hidden;
    position: absolute;
    top: 28px;
    left: 0;
}

/*------------ top language---------*/
.top{
	position: Relative;
	background: linear-gradient(to right, 
				rgba(41,35,28,1) 0%, 
				rgba(112,83,49,1) 100%);
	color: white;
	width : 100%;
	height: 22px;	
	padding: 6px 0 6px 0px;
}

.top>span{
	position: absolute;
    left: 50%;
    margin-left: -550px;
}

@media(max-width:1100px){
	.top{
		display: none;
	}	
}

/*---------------manu----------------*/
#main_manu{
	position: absolute;
    right: 0px;
    width: 743px;
    height: 106px;
}
#main_manu>ul{
	position: relative;
    overflow: hidden;
    display: block;
    height: 108px;
    text-align: right;
}

#main_manu li{
	display: inline-block;

}

#main_manu a{
	display: block;
    padding: 0 10px;
    font-size: 17px;
    line-height: 87px;
    color: #666;
    letter-spacing: -1px;
    text-align: center;
    text-decoration: none;
}

#main_manu a:hover {
		color: blue;
	}

/*===========section================*/

#main_container{
	margin-top: 20px;
}
#content_1{
	background-image:url("../../images/banner/bn01.png");
	width: 100%;
	height: 560px;
}
.con1_font{
	color: white;
	text-align: center;
	padding-top: 280px;
}
.con1_font_1{
	font-size: 30px;
}
/*------------------------------------------------*/
#content_2{
	background-color:#ebecec;
	width: 100%;
	height: 157px;
    font-size: 13px;
    line-height: 18px;
    color: #6b6969;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 40px;
}
.dt01{
	font-size: 24px;
    line-height: 26px;
    color: #4c4b4b;
    font-weight: 400px;
}
/*-------------------------------------------------*/
#content_3{
	width: 100%;
	height: 445px;
}
/*-------------------------------------------------*/
#content_4{
	background-color: orange;
	width: 100%;
	height: 300px;
	margin-top: 100px;
	padding: 65px 0 150px;
	margin: 0 auto;

}
.con4_img{
	text-align: center;
	padding-bottom: 50px;
}

#content_4 >p{
    color: white;
    font-size: 21px;
    padding-bottom: 20px;
    text-align: center;
 /*--------------------------------*/
}
#content_5{
	background-image:url("../../images/banner/bg_mid.png");
	width: 100%;
	height: 475px;
	padding-top: 82px;
}
.con5_view{
	overflow: hidden;
    position: relative;
    padding: 0;
    height: 488px;
    max-width: 1136px;
    margin: 0 auto;
}
#content_5 ul{
	list-style: none;
}
.con_5_ba1{
    opacity: 1;
    position: relative;
    top: 0px;
	
}
#content_5 dl{
	padding-top: 20px;
	padding-left: 6px;
	
}
#content_5 dt{
	display: block;
    text-align: left;
    height: 37px;
    font-size: 24px;
    line-height: 26px;
    color: #353535;
    font-weight: 400px;
}
#content_5 li{
	float: left;
    height: 378px;
    width: 336px;
    margin: 0 1.2%;
    background: white;
}
.que {
	margin: 15px 0 19px;
    font-size: 16px;
    line-height: 18px;
    color: #353535;
    font-weight: 300px;;
}

/*==================footer=====================*/

 footer{
    clear: both;
    position: relative;
    width: 100%;
    height: 151px;
	background-image:url("../../images/common/bg_foot.png");
	
}
#ft_wrap{
	position: relative;
    max-width: 1100px;
    height: 151px;
    text-align: center;
    margin: 0 auto;
    line-height: 18px;
	background-image:url("../../images/common/bg_foot_in.png");
	color: white;
}
#ft_wrap > img{
	padding-top: 32px;
}
#ft_wrap > p{
	font-size : 11px;
	margin: 13px 0 9px;
    color: #a9a9a9;
}











